KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/rtc.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/kprintf.o \
$(ARCHDIR)/mm.o \
$(ARCHDIR)/global.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/interrupt.o \




