KERNEL_X86_CFLAGS:=
KERNEL_X86_CPPFLAGS:=
KERNEL_X86_LDFLAGS:=
KERNEL_X86_LIBS:=
KERNEL_X86_OBJS:= \
$(X86DIR)/isa/8254.o \
$(X86DIR)/isa/8259.o \
$(X86DIR)/isa/idt.o \
$(X86DIR)/isa/interrupt.o \
$(X86DIR)/isa/interrupt_handler.o \
$(X86DIR)/isa/do_irq.o \
$(X86DIR)/isa/idt_loader.o \
$(X86DIR)/video/vga.o \
$(X86DIR)/sound/spkr_beep.o \


